button {
  height: 50px;
  width: 150px;
  padding: 2px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

thead > tr {
  background-color: black;
  color: white;
}

tbody > tr:nth-of-type(odd) {
  background-color: lightgray;
}
