body {
  width: 1100px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  height: 800px;
  align-items: center;
}

.column {
  flex-basis: 30%;
}

.header {
  font-size: 40px;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
}

.underline {
  border-bottom: solid black;
}

.red-underline {
  border-bottom: solid red;
}

.green {
  color: #18cd1b;
}

.red {
  color: #f80606;
}
