.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

ul > li {
  display: inline;
  padding: 15px;
  font-family: Avenir, sans-serif;
  color: #d4d4d4;
  font-size: 12px;
}

.inline {
  display: inline;
}

.column-two-fifths {
  flex-basis: 40%;
}

.column-three-fifths {
  flex-basis: 60%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  padding-left: 55px;
  width: 40%;
  padding-top: 50px;
}

.contact-us-btn {
  font-family: Avenir, sans-serif;
  background-color: #294464;
  color: #c0c8d1;
  border-color: transparent;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8%;
}

.hero-image {
  background-image: url("images/hero.jpg");
  height: 450px;
  width: 90%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: auto;
}

.column-full {
  flex-basis: 100%;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 40%));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-header {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  line-height: 30px;
  font-family: "Tiempos Headline", sans-serif;
  letter-spacing: 2px;
}

.hero-paragraph {
  position: absolute;
  top: 120px;
  left: 40px;
  text-align: left;
  font-size: 13px;
  font-family: Avenir, sans-serif;
  color: white;
  line-height: 20px;
}

.hero-button {
  position: absolute;
  bottom: 55px;
  left: 40px;
  background-color: #294464;
  border-color: transparent;
  color: white;
  font-family: Avenir, sans-serif;
  padding: 10px 30px;
  border-radius: 5%;
}

.list-padding {
  padding-left: 80px;
  padding-top: 45px;
}

.hr-margin {
  margin-bottom: 50px;
}
